@page
@model BD_of_the_Realtor_Firm.Pages.ZF.requests.personnel_departmentModel
@{
    <h1>Список сотрудников</h1>

   
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Staff[0].Full_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Staff[0].Position_ID)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Staff)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Full_name)
                    </td>
                    <td>
                        @{
                            try
                            {
                                @Model.Position.First(r => r.ID == item.PositionID).Position_name
                            }
                            catch
                            {
                                <p> данных нет </p>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
